---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import NewsItem from '../components/NewsItem.astro';
import Logo from '../components/Logo.astro';
import RightMenu from '../components/RightMenu.astro';
const news = [
  {
    title: 'Hello World!',
    date: 'Friday, July 12th, 2024',
    description: 'Saddle Networks would like to introduce itself as the latest subsidiary in the family of Candy Horses Co-Op ventures. We\'re excited to bring our offerings to market and help clients both large and small in finding the right infrastructure and resources for their projects.',
  },
  {
    title: 'Recruiting co-op members!',
    date: 'Monday, July 22nd, 2024',
    description: 'Candy Horses is looking for exciting people to join our co-op and help us grow our family of ventures! If you have skills that you think would benefit any of our current subsidiaries or could benefit a future one, shoot us an application and lets get talking! For more details, please checkout the call to action in the top-right of our page.',
  },
  {
    title: 'Anycast DNS now public.',
    date: 'Saturday, December 14th, 2024',
    description: 'Today we\'re officially releasing our anycast DNS resolvers to the public, with no log retention, no tracking by default, and DotFur support included! You can find out more on our "Anycast DNS" page on the top right.',
  },
];
---

<BaseLayout>
  <div class="p-8 mr-0 ml-0 md:mr-8 md:ml-8 sm:mr-4 sm:ml-4 lg:mr-24 lg:ml-24 relative">
    <Logo dn42="true" />
    <div class="text-right md:absolute top-10 right-10">
      <RightMenu />
    </div>
    <div class="flex text-pretty flex-col-reverse md:mt-32">
      {news.map((item) => (
	  		<NewsItem {...item} />
	  	  ))}
    </div>
  </div>

</BaseLayout>