---
import BaseLayout from '../layouts/BaseLayout.astro';
import LeaseCard from '../components/LeaseCard.astro';
import Logo from '../components/Logo.astro';
import LeaseMenu from '../components/LeaseMenu.astro';
import '../styles/global.css';

const leases = [
  {
    cidr: 'Check back often for more ranges!',
    price: 'Regular rates are $100/mo or $1100/yr',
    description: [''],
    promotion: null,
  },
];
---
<BaseLayout>
  <div class="p-8 mr-0 ml-0 md:mr-8 md:ml-8 sm:mr-4 sm:ml-4 lg:mr-24 lg:ml-24 relative">
    <Logo />
    <div class="text-right md:absolute top-10 right-10">
      <LeaseMenu />
    </div>
    <div class="mt-24">
	  	{leases.map((lease) => (
	  		<LeaseCard {...lease} />
	  	  ))}
	  </div>
  </div>
</BaseLayout>