---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

---
<BaseLayout>
  <div class="p-8 relative">
    <h1 class="text-4xl istok-web-regular text-gray-400 mb-4 pl-4">
      <span class="text-blue-900">saddle</span> networks <span class="text-green-400">xenia</span>
    </h1>
    <p class="absolute top-10 right-10 text-md text-gray-400">
      With every range, we can provide:
    </p>
    <div class="absolute top-14 right-10 text-md text-gray-300 flex flex-wrap max-w-[500px]" style="justify-content: flex-end;">
      <p class="mr-6">Hosted Prefixes</p>
      <p class="mr-6">Dedicated</p>
      <p class="mr-6">VPS</p>
      <p class="mr-6">Transit</p>
      <p class="">IP Leasing</p>
      <p class="">Colocation</p>
    </div>
    
	  <p class="absolute top-28 right-10 text-md text-gray-400">
		  Products we develop:
	  </p>
	  <div class="absolute top-32 right-10 text-md text-white flex flex-wrap max-w-[500px]">
		  <p class="mr-6">Xenia Net</p>
      <p class="mr-6">Saddle Linux</p>
      <p class="">homeOS</p>
	  </div>
	  <p class="absolute top-40 right-10 text-md text-gray-200 font-bold underline">
		  <a href="">Candy Horses is recruiting co-op members!</a>
	  </p>
  </div>
</BaseLayout>