<p class="text-md text-gray-400">
    With every range, we can provide:
</p>

<div class="flex justify-end">
    <div class="text-md text-gray-300 flex flex-wrap max-w-[250px] gap-2 justify-end" style="">
        <p class="mr-6">Full Reassignment</p>
        <p class="mr-6">RPKI</p>
        <p class="mr-6">IRR</p>
        <p class="mr-6">LOA</p>
        <p class="">rDNS</p>
    </div>
</div>