---
const { title, date, description } = Astro.props;
---
<article class="text-pretty mt-4 istok-web-regular">
    <h2 class="font-bold">{title}</h2>
    <h3 class="font-bold text-pretty text-sm">{date}</h3>
    <p style="max-width: 32rem;" class="text-gray-400 indent-12 mt-2">{description}</p>
</article>