<p class="text-md text-gray-400">
    Services we offers:
</p>

<div class="flex justify-end">
    <div class="text-md text-gray-300 flex flex-wrap max-w-[250px] gap-3 justify-end" style="">
        <p class=""><a href="mailto:sales@saddle.network">VPS</a></p>
        <p class=""><a href="/dns">Anycast DNS</a></p>
        <p class=""><a href="mailto:sales@saddle.network">Transit</a></p>
        <p class=""><a href="/leases">IP Leasing</a></p>
        <p class=""><a href="mailto:sales@saddle.network">Colocation</a></p>
    </div>
</div>
  
<p class="text-md mt-2 text-gray-400">
    Projects we develop:
</p>

<div class="flex justify-end">
    <div class="text-md text-gray-300 flex flex-wrap max-w-[250px] gap-2 justify-end">
        <p class="font-bold"><a href="https://xnia.net">Xenia</a></p>
        <p class="font-bold"><a href="https://dotfur.org/">DotFur</a></p>
    </div>
</div>
<p class="text-md mt-2 text-gray-200 font-bold underline">
    <a href="https://candyhorses.social">Candy Horses is recruiting co-op members!</a>
</p>